<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag "login" %>
        <meta name=viewport content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="login">
            <div class="form">
                <a href=<%=root_url%>>
                    <%= image_tag(OauthService.login_logo) %>
                </a>
                <ul>
                    <% OauthService.providers.values.each do |provider| %>
                        <li>
                            <a href=<%=provider.auth_uri(@base_url)%>>
                                <button name="<%=provider.name%>">
                                    Sign In with <%= provider.name.titleize %>
                                </button>
                            </a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </body>
</html>
